@{
  Layout = "_Layout";
}

@using ToDoList.Models;
@model IEnumerable<ToDoList.Models.Item>;

<h1>Items for @User.Identity.Name</h1>

@if (@Model.Any())
{
  <ul>
    @foreach (Item item in Model)
    {
      <li>@Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId})</li>
    }
  </ul>
}
else
{
  <h3>No items have been added yet!</h3>
}
  
@foreach (Item item in Model)
{
  if (@item.Status)
  {
    <li><strike><em>@Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId })</em></strike></li>
  }
  else
  {
    @using(@Html.BeginForm("UpdateStatus", "Items"))
    {
      <li>@Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId }) Due: @item.Date</li>
      @Html.Hidden("id", item.ItemId)
      <button type="submit" class="btn btn-default">Mark Complete</button>
    }
  }
}